/output*
/test_data/
__pycache__
/src/output/
/src/obj_dir/
*code-workspace
*.jpg
*.log
.DS_Store
/05_CityGML_6bldgs_20230628_2246/
/Past/
/doc/
csv_viewer/
save/
*aux
*fdb*
*fls
*log
*synctex*
/trash
*xyz
catboost_info/
*npy
/tmp/
*egg*
*_cache
